.container {
    display: grid;
    grid-auto-flow: row;
    row-gap: 2rem;
    justify-content: center;

    .title {
        color: $tundora;
        text-align: center;
    }

    .dataContainer {
        display: grid;
        grid-template-columns: max-content auto;
        column-gap: 1.6rem;

        .profilePicture {
            width: 14.8rem;
        }

        .dataTable {
            display: grid;
            grid-template-columns: max-content auto;
            column-gap: 2.4rem;
            row-gap: 1rem;

            .header {
                color: $tundora;
            }
        }
    }
}
