:root {
    font-size: 62.5%;

    * {
        font-family: sans-serif;
    }

    html,
    body,
    :global(#app) {
        color: $boulder;
        height: 100vh;
        width: 100vw;
        font-size: 1.6rem;
        font-weight: bold;
        margin: 0;
    }
}
